/*
      Version: 1.2.0
       Author: Matthew D Webb
      Website: http://www.searchlaboratory.com/
  Description: json quiz score calculator
 Dependencies: JQuery 2.1.0 (cdn here: https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js)
         Demo: https://jsfiddle.net/Webby2014/t4p8x02b/
 */

/*  default json quiz styles */

 #quizForm {
    border: 2px dotted;
    border-color: #BCBCBC;
    background: #F1F1F1;
    padding: 20px;
    margin: 5px;
}
#quizForm p {
    color: #4679BD;
    font-size : 1.5em;
}
#quizForm div label {
    color: #4F3774;
}
#quizForm button {
    background: #fff;
    color: #4679BD;
}