/*
       Author: Matthew D Webb
  Description: Javascript Quiz Using JSON
 */

/* sample css */

#quizForm {
    border: 2px dotted;
    border-color: #BCBCBC;
    background: #F1F1F1;
    padding: 20px;
    margin: 5px;
}
#quizForm p {
    color: #4679BD;
    font-size : 1.5em;
}
#quizForm div label {
    color: #4F3774;
}
#quizForm button {
    background: #fff;
    color: #4679BD;
}
